#pre,#next{
	margin-top: 20px;
}
.answer-top{
	padding-top: 50px;
	width:100%;
	/*line-height:40px;*/
	padding-bottom: 20px;
}
.answer-body-body{
	 overflow:auto;
	 height: 602px;
}
.answer-top-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	padding:10px 0;
}
.answer-top-title h2{
	font-family: "微软雅黑";
	font-weight: bold;
}
.answer-body{
	width:100%;
}

.answer-body-top{
	width: 100%;
	text-align: center;
	/*line-height: 40px;*/
	/*height:40px;*/
	margin-bottom: 10px;
}
.answer-description{
	width: 100%;
	border:1px solid #8C8C8C;
	border-radius: 5px;
	margin-bottom: 30px;
}
.answer-description-title{
	line-height: 30px;
	border-bottom: 1px solid #8C8C8C;
	padding:5px; 
}

.answer-description-title span{
	padding:5px; 
}
.answer-description-content{
	padding:5px;
	/*line-height: 40px;*/
}
.answer-description-content span{
	padding:5px; 
}
.answer-limit{
	display: inline-block;
	text-align: center;
	/*line-height: 40px;*/
	left: 50%
	position:absolute;
}
.answer-limit span h4{
	display: inline;
	padding-left: 5px;
}
.answer-limit span{
	padding: 5px;
	padding-top:0;
}
.modal-top{
	width:100%;
	/*line-height:40px;*/
	padding-top:20px;
}
.modal-top-title{
	
}
.modal-top-title h2{
	display: inline;
	font-weight: bold;
}
.modal-limit span h5{
	display: inline;
	padding-left: 5px;
}
.modal-body-top{
	width: 100%;
	/*line-height: 40px;*/
	height:40px;
}
.dropdown-menu{
	min-width:80px;
}
.body-top{
	width:100%;
	/*height:40px;*/
	/*line-height: 40px;*/
	padding:5px;
}
.body-top-component{
	width:40px;
	border:1px solid #000000;
}
/*word-wrap : break-word ;*/
